/*-------------------------------------
    
	Author: Webstrot Tabula
	Copyright © 2022-22
	
---------------------------------------
 
    CSS INDEX
    ===================
	
    1. BODY
	2. CUSTOM CSS / A
	3. PRELOADER
	4. NAVIGATION
	5. SLIDER

---------------------------------------*/


/*--------------
1.Theme default CSS
--------------------------*/

$title-font: 'Poppins',
sans-serif;
$body-font: 'Lato',
sans-serif;
$body-color: #b0b2b3;
$title-color: #222222;
$section-bg-color:#ebf5f5;
$title-color-white: #fff;
$title-color-hover: #e12454;
$font-size:16px;
$line-height:25px;
$transition: all 0.5s;

/* ....................................
1.1 Common CSS 
.......................................*/

@import 'common/common';

/* ....................................
1.1 Header CSS 
.......................................*/

@import 'header/header';


/* ....................................
1.1 Inner CSS 
.......................................*/

@import 'inner/inner';


/* ....................................
1.1 Footer CSS 
.......................................*/

@import 'footer/footer';



/* ....................................
1.1 INDEX 03 CSS 
.......................................*/

@import 'home3/home3';


/* ....................................
1.1 LOGIN 03 CSS 
.......................................*/

@import 'login/login';


/* ....................................
1.1 PROJECT 03 CSS 
.......................................*/

@import 'project-details/project-details';


/* ....................................
1.2 SHORTCODE 03 CSS 
.......................................*/

@import 'shortcode/shortcode';



/* ....................................
1.2 INDEX 3
.......................................*/

@import 'index3/index3';






// manu fixed css
.menu-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #111111;
	z-index: 10000;
	-o-box-shadow: 0px 0px 25px -10px;
	-ms-box-shadow: 0px 0px 25px -10px;
	-moz-box-shadow: 0px 0px 25px -10px;
	-webkit-box-shadow: 0px 0px 25px -10px;
	box-shadow: 0px 0px 15px -15px;
}

// return to top
#return-to-top {
	position: fixed;
	bottom: 43px;
	right: 30px;
	display: block;
	display: none;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50px;
	line-height: 50px;
	font-size: 24px;
	background: $title-color-hover;
	// box-shadow: 0 0 20px rgb(0 0 0 / 15%);
	-webkit-transition: all 0.3s ease;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 1000;
	color: $title-color-white;
	-webkit-animation: jump 1s ease-in alternate infinite;
	animation: jump 1s ease-in alternate infinite;
}

#return-to-top i {
	color: #fff;
	line-height: 50px;
	font-size: 20px;
	-webkit-transition: all 0.3s ease;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-to-top:hover i {
	color: #fff;
	top: 5px;
}
.change-bg1{
	background: $bg-color2 !important;
}
.change-bg2{
	background: $section-bg-color3 !important;
}
@-webkit-keyframes jump {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 50%, 0);
	}
}

@keyframes jump {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 50%, 0);
	}
}

// cross btn js
#toggle_close {
    position: absolute;
    z-index: 100;
    right: 0px;
    top: 0px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50px;
    padding: 36px;
    line-height: 0px;
}

// header container

.custom-container{
	max-width: 1700px;
}
// sroll
.custom-check::-webkit-scrollbar {
	  width: 5px;
}

/* Track */
.custom-check::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.custom-check::-webkit-scrollbar-thumb {
  background: #0060aa; 
}

/* Handle on hover */
.custom-check::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.main-header-wrapper1 .menu-fixed .social-media-icons .login-btn .user-text a {
    color: #111;
}